@font-face {
    font-family: Nebulous;
    src: url(fonts/NebulousContent.otf);
}

body {
    font-family: monospace;
    background: red;
}

div {
    font-family: Nebulous;
    color: red;
    background: red;
}