@font-face {
    font-family: Nebulous;
    src: url(fonts/NebulousContent.otf);
}

body {
    font-family: monospace;
    background: red;
}

div {
    font-family: Nebulous;
    color: red;
    background: red;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
