<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <link rel="Shortcut icon" href="{% static 'nextgenmusic/images/logo.ico' %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Next Generation Music - nowoczesny portal streamingowy">
        <meta name="author" content="Kamil Bania, Mateusz Gawlak, Paweł Durda, Adrian Gajewski, Wojciech Gałka">

        <title>NGM - Free Streaming Service</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'nextgenmusic/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'nextgenmusic/css/NMG.css' %}" rel="stylesheet" type="text/css">

    </head>

    <body class="bg-black" id="page-top">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"> <img class="rounded-circle" src="{% static 'nextgenmusic/images/logo.png' %}" width="30" height="30" alt="logo"> Next Gen Music</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0">Znajdź</button>
            </form>
            <a class="navbar-brand" href="{% url 'profile' %}"> {{ request.user.username }}</a>
        </nav>
        <br>
        <br> 
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="text-primary text-center">Biblioteka utworów</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Wykonawca</th>
                                <th scope="col">Tytuł</th>
                                <th scope="col">Czas utworu</th>
                                <th scope="col">Dodaj do</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <th scope="row">
                                    {{ song.id }}
                                    <button class="btn btn-secondary ml-2 playStopButton" data-song_name="{{ song.filename }}">
                                        <img src="{% static 'nextgenmusic/css/icons/play.png' %}" alt="add" width="18" height="18">
                                    </button>
                                </th>
                                <td>{% for artist in song.artist%}
                                    {{ artist }}
                                    {% endfor %}
                                </td>
                                <td>{{ song.title }}</td>
                                <td>{{ song.duration }}</td>
                                <td>
                                    <form class="form-inline my-2 my-lg-0">
                                        <select class="custom-select mr-sm-2">
                                            <option selected>playlist one</option>
                                            <option value="1">next playlist</option>
                                            <option value="2">onemore</option>
                                            <option value="3">and last</option>
                                        </select>
                                        <button class="btn btn-secondary my-2 my-sm-0">
                                            <img src="{% static 'nextgenmusic/css/icons/add.png' %}" alt="add" width="18" height="18">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <audio controls src=""></audio>
    </body>
    <script src="{% static 'nextgenmusic/js/Controller.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/MP3Player.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/Playlist.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/Songs.js' %}"></script>
    <script>
        window.onload = function()
        {
            var audio = document.querySelector('audio');
            var buttons = document.querySelectorAll('.playStopButton');
            var player = new MP3Player(audio);
            var songs = new Array();

            console.log(buttons);
            var button;
            for(button of buttons)
            {
                button.addEventListener('click', function(){
                    audio.src = "/static/nextgenmusic/music/" + this.dataset.song_name;
                    audio.play();

                }, false);
            }
        }
    </script>
</html>