<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="Shortcut icon" href="{% static 'nextgenmusic/images/logo.ico' %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Next Generation Music - nowoczesny portal streamingowy">
        <meta name="author" content="Kamil Bania, Mateusz Gawlak, Paweł Durda, Adrian Gajewski, Wojciech Gałka">

        <title>NGM - Free Streaming Service</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'nextgenmusic/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <!-- <link href="{% static 'nextgenmusic/css/NGM.css' %}" rel="stylesheet" type="text/css"> -->

    </head>

    <body class="bg-black" id="page-top">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"> <img class="rounded-circle" src="{% static 'nextgenmusic/images/logo.png' %}" width="30" height="30" alt="logo"> Next Gen Music</a>
            <a class="navbar-brand" href="{% url 'profile' %}"> {{ user.username }} </a>
        </nav>
        <br>
        <br> 
        <br>
        <br>
        <div class="container-fluid">
            {% if request.user.is_superuser %}
            <div class="row text-white h-25 justify-content-right">
                <div class="col-8"></div>
                <div class="col-2">
                    <a href="{% url 'paneladmin' %}"><button class="btn btn-primary">Panel administracyjny</button></a>
                </div>
            </div>
            {% endif %}
            <br>
            <div class="row">
                <div class="col-2"></div>

                <div class="col-2 text-center">
                    <div class="col">
                        <h2 class="text-primary text-center">Konto</h2>
                    </div>

                    <form>
                        <div class="form-row">
                            <div class="col mb-2">
                                <input id="EmailNew" type="text" class="form-control text-center" name="email" placeholder="Podaj nowy Email" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-2">
                                <input id="PasswordNew" type="password" class="form-control text-center" name="password" placeholder="Podaj nowe Hasło" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-2">
                                <input id="PasswordNew2" type="password" class="form-control text-center" name="password" placeholder="Powtórz nowe Hasło" disabled>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" disabled> Potwierdź zmiany </button>

                    </form> 
                    <a href="{% url 'logout' %}"><button class="btn btn-secondary btn-block mt-2"> Wyloguj </button></a>
                </div>

                <div class="col-1"></div>

                <div class="col-5 text-center">
                    <div class="col">
                        <h2 class="text-secondary text-center">Playlisty</h2>
                    </div>

                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <form class="form" method="POST" action="{% url 'createPlaylist' %}">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-1">
                                                <button type="submit" class="btn btn-secondary"><img src="{% static 'nextgenmusic/css/icons/add.png' %}" width="20" height="20" alt="logo"></button>
                                            </div>
                                            <div class="col-lg-11">
                                                <input type="text" name="playlistName" class="form-control" id="inlineFormInputName2" placeholder="Nazwa Playlisty">
                                            </div>
                                        </div>
                                    </form>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if topPlaylist is not None %}
                            <tr>
                                 <td>
                                    <div class="form-row">
                                        <div class="col-1">
                                        </div>
                                        <div class="col-10">
                                            <label for="colFormLabel" class="col-form-label">
                                                <a href="{% url 'playlist' topPlaylist %}" class="text-white">{{ topPlaylist }}</a>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% for playlist in playlists %}
                            <tr>
                                <td>
                                    <div class="form-row">
                                        <div class="col-1">
                                            <a href="{% url 'deletePlaylist' playlist.name %}">
                                                <button class="btn btn-secondary">
                                                    <img src="{% static 'nextgenmusic/css/icons/remove.png' %}" width="20" height="20" alt="logo">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-1">
                                            <a href="{% url 'editPlaylistName' playlist.name %}">
                                                <button class="btn btn-secondary">
                                                    <img src="{% static 'nextgenmusic/css/icons/edit.png' %}" width="20" height="20" alt="logo">
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-10">
                                            <label for="colFormLabel" class="col-form-label">
                                                <a href="{% url 'playlist' playlist.name %}" class="text-white">{{ playlist.name }}</a>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </body>
</html>