<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="Shortcut icon" href="{% static 'nextgenmusic/images/logo.ico' %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Next Generation Music - nowoczesny portal streamingowy">
        <meta name="author" content="Kamil Bania, Mateusz Gawlak, Paweł Durda, Adrian Gajewski, Wojciech Gałka">

        <title>NGM - Free Streaming Service</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'nextgenmusic/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <!-- <link href="/css/NGM.css" rel="stylesheet" type="text/css"> -->

    </head>

    <body class="bg-black" id="page-top">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}"> <img class="rounded-circle" src="{% static 'nextgenmusic/images/logo.png' %}" width="30" height="30" alt="logo"> Next Gen Music</a>
            <form class="form-inline my-2 my-lg-0">
                <select class="custom-select mr-sm-2" disabled>
                    <option selected>playlist one</option>
                    <option value="1">next playlist</option>
                    <option value="2">onemore</option>
                    <option value="3">and last</option>
                </select>
                <button class="btn btn-outline-secondary my-2 my-sm-0" disabled>Zmień</button>
            </form>
            <a class="navbar-brand" href="{% url 'profile' %}"> {{ user.username }} </a>
        </nav>
        <br>
        <br> 
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-secondary text-center">{{ playlist.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Wykonawca</th>
                                <th scope="col">Tytuł</th>
                                <th scope="col">Czas utworu</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <th scope="row">{{song.id}}</th>
                                <td>
                                    {% for artist in song.artist %}
                                        {{artist}}
                                    {% endfor %}
                                </td>
                                <td>{{song.title}}</td>
                                <td>{{song.duration}}</td>
                                <td>
                                    <form class="removeFromPlaylistForm">
                                        {% csrf_token %}
                                        <input type="hidden" name="playlistName" value="{{ playlist.name }}">
                                        <button class="btn btn-secondary btn-sm playSongButton" data-song_name="{{ song.filename }}"> <img src="{% static 'nextgenmusic/css/icons/play.png' %}" alt="delete" width="20" height="20"> </button>
                                        <button class="btn btn-secondary btn-sm removeFromPlaylistButton" data-song_name="{{ song.filename }}"> <img src="{% static 'nextgenmusic/css/icons/remove.png' %}" alt="delete" width="20" height="20"> </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Audio Player -->
            <div class="container-fluid bg-dark fixed-bottom">
                <h6 class="text-center text-primary">Tytuł utworu - Artist song name</h6>
                <div class="row mb-2">
                    <div class="col text-right">
                        <button class="btn btn-secondary btn-circle" type="Submit"><img src="{% static 'nextgenmusic/css/icons/previous.png' %}" width="20" height="20" alt="logo"></button>
                        <button class="btn btn-secondary btn-circle" type="Submit"><img src="{% static 'nextgenmusic/css/icons/play.png' %}" width="20" height="20" alt="logo"></button>
                        <button class="btn btn-secondary btn-circle" type="Submit"><img src="{% static 'nextgenmusic/css/icons/next.png' %}" width="20" height="20" alt="logo"></button>
                    </div>
                    <div class="col text-left">
                        <div class="progress mt-2" style="width:100px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'nextgenmusic/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/Controller.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/MP3Player.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/Playlist.js' %}"></script>
    <script src="{% static 'nextgenmusic/js/Song.js' %}"></script>
    <script>
        window.onload = function()
        {
            var playSongButtons = document.querySelectorAll('.playSongButton');
            var removeFromPlaylistForms = document.querySelectorAll('.removeFromPlaylistForm');

            var player = new MP3Player(new Audio());
            var songs = new Array();
            var controller = new Controller(player);

            controller.setRemoveFromPlaylistForms(removeFromPlaylistForms);
            controller.bindRemoveFromPlaylistEvent();
        }
    </script>
</html>